# Answer 1 :-  Python code to reverse a string.

In [ ]:
# 1st way Python code to reverse a string

string = "Data Analytics"
string[::-1]

'scitylanA ataD'

In [ ]:
string = "Pwskills"
string[::-1]

'sllikswP'

In [ ]:
# 2nd way python code to reverse a string

def reverse_string(s):
    strings = ""
    for i in s[::-1]:
        strings += i
    return strings

In [ ]:
reverse_string("Data Analytics")

'scitylanA ataD'

In [ ]:
reverse_string("Pwskills")

'sllikswP'

# Answer 2 :- Write a code to count the number of vowels in a string

In [ ]:
# function name will be count_vowels(string)
# vowels = "aeiouAEIOU"
# count = 0

def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for character in string:
        if character in vowels:
            count += 1
    return count

In [ ]:
count_vowels("Hello, How are you doing?")

9

In [ ]:
count_vowels("Data Analytics")

5

# Answer 3 :- Python code to check if a given string is a palindrome or not

In [ ]:
# original_string is a 1st variable to take input of a given string.
# reverse_string is a 2nd variable to using string slicing to get reverse condition of input
# Applying the conditions of == with if and else to check if the given string is a palindrome or not
# Print statement to mention the given string is palindrome or not

original_string = input("Enter_a_string: ")
reverse_string = original_string[: : -1]
if (original_string == reverse_string):
  print("It is a palindrome String")
else:
  print("It is not a palindrome String")

Enter_a_string: Hello
It is not a palindrome String

In [ ]:
original_string = input("Enter_a_string: ")
reverse_string = original_string[: : -1]
if (original_string == reverse_string):
  print("It is a palindrome String")
else:
  print("It is not a palindrome String")

Enter_a_string: wow
It is a palindrome String

# Answer 4 :- Python code to check if two given strings are anagrams for each other

In [ ]:
# Created a own function using def and function name is string_are_anagrams
# applied the replace() to remove space and lower() function to make string lower case
# applied if and else, sorted with == condition to check the the character are similar and equal
# printed the result if strings are anagrams or not.

def string_are_anagrams(string1, string2):
  string1 = string1.replace(" ", "").lower()
  string2 = string2.replace(" ", "").lower()

  if sorted(string1) == sorted(string2):
    print (f"{string1} and {string2} is a anagram.")
  else:
    print (f"{string1} and {string2} is not a anagram.")

In [ ]:
string_are_anagrams("Listen", "Silent")

listen and silent is a anagram.

In [ ]:
string_are_anagrams("Ram", "Shyam")

ram and shyam is not a anagram.

In [ ]:
string_are_anagrams("wow", "act")

wow and act is not a anagram.

# Answer 5 :- Python code to find all occurrences of a given substring with another string.

In [ ]:
# Created a python code to find all occurrences of given substring with another string



def find_occurrences(main_string, substring):
    occurrences = []
    sub_len = len(substring)
    main_len = len(main_string)

    for i in range(main_len - sub_len + 1):
        if main_string[i:i + sub_len] == substring:
            occurrences.append(i)

    return occurrences

In [ ]:

main_string = "data analytics from pwskills"
substring = "a"
result = find_occurrences(main_string, substring)
print(f"The substring '{substring}' occurs at indices: {result}")

The substring 'a' occurs at indices: [1, 3, 5, 7]

# Answer 6 :- Python code to perform a basic string compression using the count of repeated character.

In [ ]:
# Python code to perform a basic string compression using the count of repeated character.
# 1st step - Create a empty string for the result
# 2nd step - code to intialize the count of the first character
# 3rd step - create own function
# 4th step - Iterate overt the string from the second char.
# 5th step - applied append function to the last character and its count
# 6th step - return the compressed string if it's shorter than the original, otherwise return the original string


def compress_string(s):
    if not s:
        return s


    compressed_string = ""
    count = 1


    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed_string += s[i - 1] + str(count)
            count = 1


    compressed_string += s[-1] + str(count)

    return compressed_string if len(compressed_string) < len(s) else s

In [ ]:
input_string = "aaaaaaabbcccaaajdjdaaaaaooooo"
compressed_string = compress_string(input_string)
print(compressed_string)

a7b2c3a3j1d1j1d1a5o5

# Answer 7 :- Write a code to determine if a string has all unique characters ?

In [ ]:
# Created a code to determine if a string has all unique characters
# 1st step - create def function for unique characters
# 2nd step - use set() function to an empty set to track repeat characters
# 3rd step - apply for loop function to check if a character is in repeat character then give false,
#            and Add the character to the set if its not repeated give true.



def unique_characters(string):
    repeat_char = set()
    for char in string:
        if char in repeat_char:
            return False
        repeat_char.add(char)
    return True

In [ ]:
unique_characters("Data Analytics")

False

In [ ]:
unique_characters("Pwskills")

False

In [ ]:
unique_characters("Ram")

True

In [ ]:
unique_characters("Sunita")

True

# Answer 8 :- Write a code to convert a given string to uppercase or lowercase ?

In [ ]:
# Created a code to convert a given string to uppercase or lowercase


def new_string(s):
  for i in s:
    if i.islower():
      return s.upper()
  for i in s:
    if i.isupper():
      return s.lower()

In [ ]:
new_string("Sunita Kumari")

'SUNITA KUMARI'

In [ ]:
new_string("data analytics")

'DATA ANALYTICS'

In [ ]:
new_string("PWSKILLS")

'pwskills'

In [ ]:
new_string("ApPlE")

'APPLE'

# Answer 9 :- Code to count the numbers of words in a string

In [ ]:
# Created a code to count the numbers of words in a string
# created a function with def
# created empty variable
# used split function to to separate string word then used length function to return the result

def count_string_word(s):
  count = 0
  words = s.split()
  return len(words)

In [ ]:
count_string_word("Data Analytics")

2

In [ ]:
count_string_word("My name is Sunita, Currently I'm doing an data analytics online course from PWskills")

14

In [ ]:
count_string_word("Currently I'm doing assignment of data structure")

7

# Answer 10 :- Code to concatenate two string without using + operator

In [ ]:
# created code to concatenate two string with using join operator

def concatenated_string(s1, s2):
  return "".join([s1, s2])

In [ ]:
concatenated_string("Sunita", " Kumari")

'Sunita Kumari'

In [ ]:
concatenated_string("Data Analytics", " course from PWskills")

'Data Analytics course from PWskills'

# Answer 11 :- Code to remove all the occurrences of a specific element from a list

In [ ]:
# Code to remove all the occurrences of a specific element from a list
# Used def function with for, append and if to get result.

def remove_element(lst, element):
    result = []
    for item in lst:
        if item != element:
            result.append(item)
    return result

In [ ]:
l = [1, 3, 3, 2, 4, 3, 5, 3, 6, 7, 8, 3, 3, 9]
element_to_remove = 3
result = remove_element(l, element_to_remove)
result

[1, 2, 4, 5, 6, 7, 8, 9]

# Answer 12 :- Code to find the second largest number in a given list of integers

In [ ]:
# Implimented a code to find the second largest number in a given list of integers

def second_larg(list):
  list.sort()
  return list[-2]

In [ ]:
second_larg([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15, 30])

15

# Answer 13 :- Code  to count the occurrence of each elemenet in a list and return a dictionary with elements as keys and their count as a value

In [ ]:
# Created a code to count the occurrence of each elemenet in a list and return a dictionary with elements as keys and their count as a value
# used def function to create
# put an empty {} dictionary to give result
# used for, if and else function

def count_occurrence(l):
  count = {}
  for i in l:
    if i in count:
      count[i] += 1
    else:
      count[i] = 1
  return count

In [ ]:
l = [1, 2, 3, 2, 4, 2, 5, 3, 4, 5, 6, 3, 6, 6, 6, 3, 4, 2]
result = count_occurrence(my_list)
print(result)

{1: 1, 2: 4, 3: 4, 4: 3, 5: 2, 6: 4}

# Answer 14 :- Code to reverse a list in-place without using any inbuilt reverse function

In [ ]:
# code to reverse a list in-place without using any inbuilt reverse function
# used def reverse_list function to reverse the list


def reverse_list(l):
  start = 0
  end = len(l) -1
  while start < end:
    l[start], l[end] = l[end], l[start]
    start += 1
    end -= 1
  return l

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed_list = reverse_list(my_list)
reversed_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Answer 15 :- Code to find and remove duplicates from a list while preserving the originals order of the elements

In [ ]:
# Implimented a code to find and remove duplicates from a list while preserving the originals order of the elements
# used def with dictionary to track the elements/values which have been seen
# used for, if function and append function to get the result


def remove_duplicates(l):
    dictionary = {}
    result = []

    for item in l:
        if item not in dictionary:
            dictionary [item] = True
            result.append(item)

    return result

In [ ]:
l = [1, 2, 3, 4, 5, 1, 6, 4, 7, 8, 9, 10, 3, 3, 3]
result = remove_duplicates(l)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Answer 16 :- Code to check if a given list is sorted (either ascending order or descending order) or not

In [ ]:
# Created a code to check if a given list is sorted (either ascending order or descending order) or not
# used def to create a function
# used range and length  function

def list_is_sorted(l):
  if len(l) < 2:
        return True


  ascending = True
  descending = True

  for i in range(1, len(l)):
      if l[i] < l[i - 1]:
            ascending = False
      if l[i] > l[i - 1]:
            descending = False

  return ascending or descending

In [ ]:
l = [1, 2, 9, 11, 15, 20]
list_is_sorted(l)

True

In [ ]:
l = [20, 22, 30, 46, 40, 60, 90]
list_is_sorted(l)

False

In [ ]:
l = [100, 90, 89, 85, 73, 65, 20]
list_is_sorted(l)

True

# Answer 17 :- Code to merge two sorted list into single sorted list

In [ ]:
# did some research and based on research merging two sorted list into single sorted list in a sort code with function heapq.

import heapq

def merge_two_sorted_lists(l1, l2):
    return list(heapq.merge(l1, l2))

In [ ]:
l1 = [1, 3, 5, 7, 9, 11, 13, 15]
l2 = [2, 4, 6, 8, 10, 12, 14, 16]
result = merge_two_sorted_lists(l1, l2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
# 2nd way :- combined two sorted list into single sorted list using concatenate function

def merge_two_sorted_lists(l1, l2):
  return sorted(l1 + l2)

In [ ]:
l1 = [1, 3, 5, 7, 9, 11, 13, 15]
l2 = [2, 4, 6, 8, 10, 12, 14, 16]
result = merge_two_sorted_lists(l1, l2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

# Answer 18 :- Code to find the intersection of two given list

In [ ]:
# Implemented a code to find the intersection of two given list
# using intersection operators  '&'

def intersection_lists(l1, l2):
  data1 = set(l1)
  data2 = set(l2)

  intersection = data1 & data2

  return list(intersection)

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 9]
l2 = [4, 5, 6, 7, 8, 9, 10]

intersection_two_list = intersection_lists(l1, l2)
intersection_two_list

[9, 4, 5, 6]

In [ ]:
l1 = [1, 2, 3, 4, 5, 6]
l2 = [4, 5, 6, 7, 8, 9]

intersection_two_list = intersection_lists(l1, l2)
intersection_two_list

# Answer 19 :- Code to find the union of two lists without duplicates

In [ ]:
# Create a code to find the union of two lists without duplicates
# used union operate to get the result "|"

def union_lists(l1, l2):
  data1 = set(l1)
  data2 = set(l2)

  union = data1 | data2

  return list(union)

In [ ]:
Data1 = ["Hiking", "Tracking", "Reading Books", "Travelling", "Cooking"]
Data2 = ["Cooking", "Fast food", "Painting", "Dancing", "Reading Books"]

union_two_list = union_lists(Data1, Data2)
union_two_list

['Travelling',
 'Hiking',
 'Fast food',
 'Reading Books',
 'Tracking',
 'Cooking',
 'Dancing',
 'Painting']

# Answer 20 :- Code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
# did some research for code to shuffle a given list randomly without using any built-in shuffle functions
# used random function and import it
# used shuffle function to get the result
# applied length, range function also

import random

def shuffle_list(lst):

    lst = lst[:]

    n = len(lst)

    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)

        lst[i], lst[j] = lst[j], lst[i]

    return lst

In [ ]:
original_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(original_list)
print("Original list:", original_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [4, 5, 2, 3, 1]

# Answer 21 :- write a code that take two tuples as input and return a new tuple containing elements that are common to both input tuples ?

In [ ]:
# code that take two tuples as input and return a new tuple containing elements that are common to both input tuples
# used intersection '&' operator to get the result :-


def tuples_common_elements(t1, t2):
  return tuple(set(t1) & set(t2))

In [ ]:
t1 = (1, 2, 3, 4, 5, 6, 9, 10)
t2 = (4, 5, 6, 7, 8, 11, 13, 15)

common_elements = tuples_common_elements(t1, t2)
common_elements

(4, 5, 6)

In [ ]:
t1 = (100, 50, 250, 300, 123, 150)
t2 = (500, 250, 405, 123, 164, 300)

common_elements = tuples_common_elements(t1, t2)
common_elements

(250, 123, 300)

# Answer 22 :- Create a code that prompt a user to enter two sets of integers seperated by commas. Then print the intersection of these two sets ?

In [ ]:
# Created a code that prompt a user to enter two sets of integers seperated by commas. Then print the intersection of these two sets
# Used def function to get the main input
# used input function to get data by user for 1st and 2nd integer list
# used intersection operator '&' to get the intersection integer value

def main_input():

    first_input = input("Enter the 1st set of integers separated by commas: ")
    set1 = set(map(int, first_input.split(',')))

    second_input = input("Enter the 2nd set of integers separated by commas: ")
    set2 = set(map(int, second_input.split(',')))

    intersection = set1 & set2

    print("Intersection of the two sets:", intersection)

if __name__ == "__main__":
    main_input()

Enter the 1st set of integers separated by commas: 1, 2, 3, 4, 5, 6, 7
Enter the 2nd set of integers separated by commas: 4, 5, 6, 7, 8, 9, 10
Intersection of the two sets: {4, 5, 6, 7}

# Answer 23 :- Write a code to concatenate two tuples. The functions should take two tuples as input and return a new tuple containing elements from both inputs tuples ?

In [31]:
# Write a code to concatenate two tuples. The functions should take two tuples as input and return a new tuple containing elements from both inputs tuples
# used def to create concat function
# used concatenate function to + the two tuples to create one tuple


def concat_two_tuples(t1, t2):

  concatenate = t1 + t2

  return concatenate

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8, 9, 10)
concat_two_tuples(tuple1, tuple2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Answer 24 :- Develope a code that prompt the user to input to sets of strings. Then print the elements that are present in the first set but not in the second set ?

In [ ]:
# Develope a code that prompt the user to input to sets of strings. Then print the elements that are present in the first set but not in the second set ?
# Used def to create own function
# used strip and 'in' function
# used difference operator '-' to get the result


def main_input_set():

  first_input = input("Enter the 1st set of strings separated by commas: ")
  set1 = set(s.strip() for s in first_input.split(','))

  second_input = input("Enter the 2nd set of strings separated by commas: ")
  set2 = set(s.strip() for s in second_input.split(','))

  difference = set1 - set2

  print("Elements present in the first set but not in the second set:", difference)

if __name__ == "__main__":
    main_input_set()

Enter the 1st set of strings separated by commas: Apple, Orange, Banana, Grapes, Yellow
Enter the 2nd set of strings separated by commas: Blue, Red, Black, Orange, Yellow
Elements present in the first set but not in the second set: {'Banana', 'Grapes', 'Apple'}

# Answer 25 :- Code that takes tuple and two integers as input. The function should return a new tuples containing the elements from the original tuples within the specified range of indices

In [32]:
# Create a code that takes tuple and two integers as input. The function should return a new tuples containing the elements from the original tuples within the specified range of indices
# used index slicing start index and end index point
# used input function to take input from users


def get_sliced_tuple(tup, start_index, end_index):

    return tup[start_index : end_index]

def main():

    user_input = input("Enter a tuple of elements separated by commas : ")

    elements = tuple(user_input.split(','))


    start_idx = int(input("Enter the start index (inclusive): "))
    end_idx = int(input("Enter the end index (exclusive): "))


    result = get_sliced_tuple(elements, start_idx, end_idx)

    print("The new tuple with elements in the specified range:", result)

if __name__ == "__main__":
    main()

Enter a tuple of elements separated by commas : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15
Enter the start index (inclusive): 4
Enter the end index (exclusive): 10
The new tuple with elements in the specified range: (' 5', ' 6', ' 7', ' 8', ' 9', ' 10')

# Answer 26 :- Code that prompt the user to input to sets of characters. Then print the union of these two sets

In [33]:
# code that prompt the user to input to sets of characters. Then print the union of these two sets
# used def function to create function
# used union operator function '|' too get the result

def sets_of_characters():

  first_input = input("Enter the 1st set of characters separated by commas: ")
  set1 = set(s.strip() for s in first_input.split(','))

  second_input = input("Enter the 2nd set of characters separated by commas: ")
  set2 = set(s.strip() for s in second_input.split(','))

  union = set1 | set2

  print("Union of the two sets:", union)

if __name__ == "__main__":
  sets_of_characters()

Enter the 1st set of characters separated by commas: apple, oranges, mango
Enter the 2nd set of characters separated by commas: mango, grapes, banana
Union of the two sets: {'oranges', 'grapes', 'banana', 'apple', 'mango'}

# Answer 27 :- Code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [35]:
# Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking ?
# used def for creating function
# used tuple, split and map function for the elements
# used the maximum and minimum function to calculate the values

def main_output():

    user_input = input("Enter a tuple of integers separated by commas : ")


    elements = tuple(map(int, user_input.split(',')))


    max_val = max(elements)
    min_val = min(elements)

    # Print the results
    print(f"Maximum value: {max_val}")
    print(f"Minimum value: {min_val}")

if __name__ == "__main__":
    main_output()

Enter a tuple of integers separated by commas : 15, 28, 44, 69, 10, 300, 350
Maximum value: 350
Minimum value: 10

# Answer 28 :- Create a code that defines two sets of integers. Then print the union, intersection and difference of these two sets

In [36]:
# code that defines two sets of integers. Then print the union, intersection and difference of these two sets
# created to data_set
# used union operator '|'
# used intersection operator '&'
# used difference operator "-" to get the output result


def main_output():

    data1 = {1, 2, 3, 4, 5, 9, 10, 15, 20}
    data2 = {4, 5, 6, 7, 8, 25, 10, 30, 35}


    union = data1 | data2


    intersection = data1 & data2


    difference = data1 - data2

    # Print the results
    print("Data_Set 1:", data1)
    print("Data_Set 2:", data2)
    print("Union of the two Data_sets:", union)
    print("Intersection of the two Data_sets:", intersection)
    print("Difference of the two sets (Data_Set 1 - Data_Set 2):", difference)

if __name__ == "__main__":
    main_output()

Data_Set 1: {1, 2, 3, 4, 5, 9, 10, 15, 20}
Data_Set 2: {35, 4, 5, 6, 7, 8, 10, 25, 30}
Union of the two Data_sets: {1, 2, 3, 4, 5, 35, 6, 7, 9, 10, 8, 15, 20, 25, 30}
Intersection of the two Data_sets: {10, 4, 5}
Difference of the two sets (Data_Set 1 - Data_Set 2): {1, 2, 3, 9, 15, 20}

# Answer 29 :- Code that take tuple and an element as input. The function should return the count of occurrences of the given elements in the tuples

In [38]:
# code that take tuple and an element as input. The function should return the count of occurrences of the given elements in the tuples
# used def to create function
# used input function to take input from users


def count_occurrences(tup, element):

  return tup.count(element)

def main_output():

    user_input = input("Enter a tuple of elements separated by commas : ")

    elements = tuple(user_input.split(','))

    element = input("Enter the element to count occurrences of: ")

    count = count_occurrences(elements, element)

    print(f"Count of occurrences of '{element}':", count)

if __name__ == "__main__":
    main_output()

Enter a tuple of elements separated by commas : 1, 2, 5, 4, 3, 7, 9 7, 10, 7, 11, 7
Enter the element to count occurrences of: 7
Count of occurrences of '7': 0

# Answer 30 :- Code that prompts the user to input two sets of string. Then print the symmetric defference of these two sets

In [39]:
# Develope the code that prompts the user to input two sets of string. Then print the symmetric defference of these two sets
# used def to create function
# used set, strip, in and split fuction to get data
# used symmetric function '^' to get the result


def main_output():

  first_input = input("Enter the 1st set of strings separated by commas: ")
  data1 = set(s.strip() for s in first_input.split(','))

  second_input = input("Enter the 2nd set of strings separated by commas: ")
  data2 = set(s.strip() for s in second_input.split(','))

  symmetric_difference = data1 ^ data2

  print("Symmetric difference of the two sets:", symmetric_difference)

if __name__ == "__main__":
  main_output()

Enter the 1st set of strings separated by commas: apple, oranges, banana, mango
Enter the 2nd set of strings separated by commas: mango, black, apple, blue
Symmetric difference of the two sets: {'banana', 'black', 'blue', 'oranges'}

# Answer 31 :- Code that takes a list of words as input and returns a dictionary where keys are unique words and values are the frequencies of those words in the input list

In [41]:
# Write a code that takes a list of words as input and returns a dictionary where keys are unique words and values are the frequencies of those words in the input list ?
# Used def to create function
# used input fuction to get input from the users
# use in, split function to get the list
# then, used dictionary  format to get the result in it.


def main_output():

    user_input = input("Enter a list of words separated by commas : ")

    word_list = [word.strip() for word in user_input.split(',')]

    word_dictionary = {word: word_list.count(word) for word in set(word_list)}

    print("Word dictionary:", word_dictionary)

if __name__ == "__main__":
    main_output()

Enter a list of words separated by commas : Apple, Oil, Shoes, Bag, Apple, Apple, Bag, mango, mango, mango, oil
Word dictionary: {'oil': 1, 'Bag': 2, 'Oil': 1, 'Shoes': 1, 'mango': 3, 'Apple': 3}

# Answer 32 :- Code that take two dictionaries as input and merge them into a single dictionary. If there are common keys, the values should be added together

In [57]:
# Write a code that take two dictionaries as input and merge them into a single dictionary. If there are common keys, the values should be added together
# used def to create function for dictionary data
# used key as key variable and value as value variable
# used input to get input from user

def two_dictionaries(d1, d2):

    merged_dict = {key: d1.get(key, 0) + d2.get(key, 0) for key in set(d1) | set(d2)}

    return merged_dict

def main_output():

    d1_input = input("Enter the first dictionary : ")
    d1 = eval(d1_input)


    d2_input = input("Enter the second dictionary : ")
    d2 = eval(d2_input)


    merged_dict = two_dictionaries(d1, d2)


    print("Merged dictionary:", merged_dict)

if __name__ == "__main__":
    main_output()

Enter the first dictionary : {'a': 1, 'b': 2, 'c': 4, 'd':9}
Enter the second dictionary : {'x': 6, 'y' : 4, 'z' : 10,  'c' : 8}
Merged dictionary: {'d': 9, 'z': 10, 'b': 2, 'x': 6, 'y': 4, 'c': 12, 'a': 1}

# Answer 33 :- Code to access a value in nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary , The function should return none

In [47]:
# did some research for this
# used def to create function
# used for, if, else loop to creat nested dictionary
# then again used def function with input function for the result

def nested_value(nested_dict, keys):

    current_level = nested_dict
    for key in keys:
        if isinstance(current_level, dict) and key in current_level:
            current_level = current_level[key]
        else:
            return None
    return current_level

def main():

    nested_dict = {
        'a': {
            'b': {
                'c': 10
            }
        },
        'x': {
            'y': {
                'z': 20
            }
        }
    }


    keys_input = input("Enter the list of keys separated by commas : ")
    keys = [key.strip() for key in keys_input.split(',')]


    value = nested_value(nested_dict, keys)

    if value is not None:
        print("The value at the given keys is:", value)
    else:
        print("None: One or more keys do not exist.")

if __name__ == "__main__":
    main()

Enter the list of keys separated by commas : x, y, z
The value at the given keys is: 20

In [48]:
# did some research for this
# used def to create function
# used for, if, else loop to creat nested dictionary
# then again used def function with input function for the result

def nested_value(nested_dict, keys):

    current_level = nested_dict
    for key in keys:
        if isinstance(current_level, dict) and key in current_level:
            current_level = current_level[key]
        else:
            return None
    return current_level

def main():

    nested_dict = {
        'a': {
            'b': {
                'c': 10
            }
        },
        'x': {
            'y': {
                'z': 20
            }
        }
    }


    keys_input = input("Enter the list of keys separated by commas : ")
    keys = [key.strip() for key in keys_input.split(',')]


    value = nested_value(nested_dict, keys)

    if value is not None:
        print("The value at the given keys is:", value)
    else:
        print("None: One or more keys do not exist.")

if __name__ == "__main__":
    main()

Enter the list of keys separated by commas : d, e, f,
None: One or more keys do not exist.

# Answer 34 :- Code that take a dictionary as input and returns a sorted version of it based on the values. You ca choose whether to sort in ascending or descending order

In [53]:
# did some research for this
# used def to create function
# used sorted function to get the value in ascending or descending order
# then again used def function with input function for the result


def sort_dictionary_by_values(d, ascending=True):

    sorted_items = sorted(d.items(), key=lambda item: item[1], reverse=not ascending)


    return dict(sorted_items)

def main():

    d = {'a': 3, 'b': 1, 'c': 2, 'e':5, 'f':8}


    order = input("Enter 'asc' for ascending or 'desc' for descending: ").strip().lower()
    ascending = order == 'asc'


    sorted_dict = sort_dictionary_by_values(d, ascending)


    print("Sorted dictionary:", sorted_dict)

if __name__ == "__main__":
    main()

Enter 'asc' for ascending or 'desc' for descending: d
Sorted dictionary: {'f': 8, 'e': 5, 'a': 3, 'c': 2, 'b': 1}

# Answer 35 :- Code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by sorting the keys as a list in the inverted dictionary

In [54]:
# did some research for this
# used def to create function
# used for, if, else function
# then again used def function with input function for the result
# created a dictionary 'd' with some values for the inverts.


def invert_dictionary(d):

    inverted_dict = {}

    for key, value in d.items():
        if value in inverted_dict:

            inverted_dict[value].append(key)
        else:

            inverted_dict[value] = [key]


    for value in inverted_dict:
        inverted_dict[value].sort()

    return inverted_dict

def main():

    d = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 9, 'g': 10}

    inverted_dict = invert_dictionary(d)


    print("Inverted dictionary:", inverted_dict)

if __name__ == "__main__":
    main()

Inverted dictionary: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d'], 9: ['f'], 10: ['g']}